<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
{% load static %}
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>superstore-sign in</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
<div class="login_top clearfix">
    <a href="index.html" class="login_logo"><img src="images/logo02.png"></a>
</div>

<div class="login_form_bg">
    <div class="login_form_wrap clearfix">
        <div class="login_banner fl"></div>
        <div class="slogan fl">Speed & Safe</div>
        <div class="login_form fr">
            <div class="login_title clearfix">
                <h1>sign in</h1>
                <a href="#">register</a>
            </div>
            <div class="form_input">
                <form method="post">
                    {% csrf_token %}
                    <input type="text" name="username" class="name_input" value="{{ username }}"
                           placeholder="My username">
                    <div class="user_error">Input error</div>
                    <input type="password" name="pwd" class="pass_input" placeholder="My password">
                    <div class="pwd_error">Input error</div>
                    <div class="more_input clearfix">
                        <input type="checkbox" name="remember" {{ checked }}>
                        <label>Stay signed in</label>
                        <a href="#">Forget password</a>
                    </div>
                    <input type="submit" name="" value="sign in" class="input_submit">
                </form>
            </div>
        </div>
    </div>
</div>
{{ errmsg }}
<div class="footer no-mp">
    <div class="foot_link">
        <a href="#">About us</a>
        <span>|</span>
        <a href="#">Contact us</a>
        <span>|</span>
        <a href="#">Career Opportunities</a>
        <span>|</span>
        <a href="#">FAQ's</a>
    </div>
    <p>CopyRight © 2016 XXXXXX Company All Rights Reserved</p>
    <p>Phone：902-XXXXXXX </p>
</div>

</body>
</html>